<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailsController</servlet-name>
        <servlet-class>Controller.DetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>Controller.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailController</servlet-name>
        <servlet-class>Controller.ProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>Controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexController</servlet-name>
        <servlet-class>Controller.IndexController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>Controller.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeItemAmountController</servlet-name>
        <servlet-class>Controller.ChangeItemAmountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCartController</servlet-name>
        <servlet-class>Controller.RemoveFromCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailsController</servlet-name>
        <servlet-class>Controller.OrderDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusController</servlet-name>
        <servlet-class>Controller.ChangeStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeProductInfoController</servlet-name>
        <servlet-class>Controller.ChangeProductInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeAccountTypeController</servlet-name>
        <servlet-class>Controller.ChangeAccountTypeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUserDetailController</servlet-name>
        <servlet-class>Controller.ChangeUserDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmOrderController</servlet-name>
        <servlet-class>Controller.ConfirmOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUsersController</servlet-name>
        <servlet-class>Controller.AddUsersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>Controller.AddProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailsController</servlet-name>
        <url-pattern>/details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailController</servlet-name>
        <url-pattern>/productDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexController</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeItemAmountController</servlet-name>
        <url-pattern>/changeItemAmount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCartController</servlet-name>
        <url-pattern>/removeFromCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailsController</servlet-name>
        <url-pattern>/orderDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusController</servlet-name>
        <url-pattern>/changeStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeProductInfoController</servlet-name>
        <url-pattern>/changeProductInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeAccountTypeController</servlet-name>
        <url-pattern>/changeAccountType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUserDetailController</servlet-name>
        <url-pattern>/changeUserDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmOrderController</servlet-name>
        <url-pattern>/confirmOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUsersController</servlet-name>
        <url-pattern>/addUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
